/* --- FORMS --- */
.form-control,
.form-select,
.input-group-text {
    border-radius: 8px;
    padding: 0.75rem 1rem;
    border-color: var(--border-light);
    background-color: var(--bg-body);
    color: var(--text-main);
}

.form-control:focus,
.form-select:focus {
    background-color: var(--bg-surface);
    color: var(--text-main);
}

/* Placeholder styling */
.form-floating > .form-control-plaintext::placeholder,
.form-floating > .form-control::placeholder {
    color: var(--text-muted);
    text-align: end;
    opacity: 0.7;
}

.form-floating > .form-control-plaintext:focus::placeholder,
.form-floating > .form-control:focus::placeholder {
    text-align: start;
}