@import url('base/variables.css');
@import url('base/global.css');
@import url('base/typography.css');

@import url('components/buttons.css');
@import url('components/forms.css?v=1');
@import url('components/cards.css');
@import url('components/pagination.css');
@import url('components/view-toggle.css');
@import url('components/navbar.css');
@import url('components/filter-bar.css');
@import url('components/hero.css');
@import url('components/footer.css');
@import url('components/alerts.css');

@import url('components/admin/layout.css');
@import url('components/admin/navigation.css');
@import url('components/admin/tables.css');
@import url('components/admin/forms.css');

@import url('pages/account/profile.css');
@import url('pages/account/auth.css');

@import url('pages/events/details.css');
@import url('pages/events/my-events.css');

@import url('pages/support/support.css');