@import url('variables.css');

@import url('base/typography.css');
@import url('base/global.css');

@import url('components/buttons.css');
@import url('components/forms.css');
@import url('components/cards.css');
@import url('components/profile.css');
@import url('components/auth.css');
@import url('components/dashboard.css');
@import url('components/event-form.css');
@import url('components/event-details.css');
@import url('components/pagination.css');
@import url('components/view-toggle.css');

@import url('components/admin/layout.css');
@import url('components/admin/navigation.css');
@import url('components/admin/tables.css');
@import url('components/admin/forms.css');

@import url('layout/navbar.css');
@import url('layout/hero.css');
@import url('layout/footer.css');