@import url('variables.css');

@import url('base/typography.css');
@import url('base/global.css');

@import url('components/buttons.css');
@import url('components/forms.css');
@import url('components/cards.css');
@import url('components/profile.css');

@import url('layout/navbar.css');
@import url('layout/hero.css');
@import url('layout/footer.css');