/* --- LAYOUT STRUCTURE --- */
html {
    position: relative;
    min-height: 100%;
    height: 100%;
}

body {
    margin-bottom: 0;
    background-color: var(--bg-body);
    color: var(--text-main);
    font-family: var(--font-body), sans-serif;

    /* Flexbox for sticky footer */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 80px;
}

.main-content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* --- FOCUS RINGS --- */
.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgba(18, 69, 89, 0.25);
    border-color: var(--color-dark-teal);
    outline: none;
}