/* --- TYPOGRAPHY SETUP --- */
h1, h2, h3, h4, h5, h6, .display-4, .brand-logo, .navbar-brand {
    font-family: var(--font-heading), serif;
    letter-spacing: normal;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}