<nav class="navbar-meetup fixed-top d-flex align-items-center justify-content-between">

    <div class="d-flex align-items-center">
        <a class="navbar-brand brand-logo me-5" asp-controller="Home" asp-action="Index">
            Stanza
        </a>
    </div>

    <div class="flex-grow-1 px-4 d-none d-md-flex justify-content-center">
        <form asp-controller="Home" asp-action="Index" method="get" class="search-pill-container">
            <input type="text" name="searchTerm" class="search-input-header"
                placeholder="Search events (e.g. Yoga, Tech)..." />
            <button type="submit" class="search-btn-header">
                <i class="bi bi-search"></i>
            </button>
        </form>
    </div>

    <div class="d-flex align-items-center">

        <button id="themeToggle" class="btn btn-link text-dark me-3 d-none d-sm-block p-0 border-0" title="Switch to Dark Mode">
            <i class="bi bi-moon-fill" style="font-size: 1.2rem;"></i>
        </button>

        <partial name="_LoginPartial" />
    </div>
</nav>
