/* Admin Dropdown Link */
.c-admin-link {
    background-color: rgba(17, 75, 95, 0.1);
    color: var(--color-dark-teal);
    font-weight: 700;
    transition: all 0.2s ease-in-out;
    padding: 10px 16px;
    border: 1px solid rgba(17, 75, 95, 0.1);
}

.c-admin-link:hover,
.c-admin-link:focus {
    background-color: var(--color-dark-teal);
    color: #fff !important;
    transform: translateY(-1px);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.c-admin-link:hover .badge {
    background-color: #fff !important;
    color: var(--color-dark-teal) !important;
}