@model EventPlanning.Application.DTOs.Event.EventDetailsDto

@{
    ViewData["Title"] = Model.Name;
    var guestItemViewData = new ViewDataDictionary(ViewData)
{
{ "IsOrganizer", Model.IsOrganizer },
{ "IsPast", Model.IsPast }
};
}

<div class="container py-4 animate-fade-in">

    <partial name="Partials/_EventHero" model="Model" />

    <div class="row g-5">
        <div class="col-lg-8">
            <partial name="Partials/_EventInfo" model="Model" />
        </div>

        <div class="col-lg-4">
            <partial name="Partials/_EventSidebar" model="Model" />
        </div>
    </div>
</div>

<partial name="Partials/_EventModals" model="Model" />