@model EventPlanning.Web.Models.EventDetailsViewModel

@{
    ViewData["Title"] = Model.Event.Name;
}

<div class="container py-4 animate-fade-in">

    <partial name="Partials/_EventHero" model="Model.Event" />

    <div class="row g-5">
        <div class="col-lg-8">
            <partial name="Partials/_EventInfo" model="Model.Event" />
        </div>

        <div class="col-lg-4">
            <partial name="Partials/_EventSidebar" model="Model.Event" />
        </div>
    </div>
</div>

<partial name="Partials/_EventModals" model="Model.Event" view-data='new ViewDataDictionary(ViewData) { { "Countries", Model.Countries } }' />
